<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="../style.css">
        <title>DoctorChain</title>
    </head>
    <body>
        <div class="top">
            <div class="budget">
                <div class="budget__title">
                Select the desired patient or add a new one</div>
            </div>
        </div>
        <div class="bottom">
            <div class="add">
                <div class="add__container">
                    <h2 class="icome__title"> Add a new patient</h2>
                    <input type="text" class="add__description" placeholder="Patient's name">
                    <input type="text" class="add__city" placeholder="City">
                    <input type="text" class="add__hash" placeholder="Patient's hash">
                    <button class="add__btn"><i class="ion-ios-checkmark-outline"></i></button>
                </div>
            </div>
            <div class="container">
                <h2 class="icome__title">Patients</h2>
                <input type="text" id="myInput" onkeyup="searchItem()" placeholder="Search for names..">

                <table class="income__list" id="myTable">
                  <tr class="header">
                    <th style="width:60%;">Name</th>
                    <th style="width:40%;">City</th>
                    <th style="width:40%;">Hash</th>
                </tr>
                <tr>
                    <td><a href="doctorPatientView.hbs">Alfredo Gonzales</a></td>
                    <td>Madrid</td>
                    <td>gxvz123jjmk</td>
                </tr>
                <tr>
                    <td><a href="doctorPatientView.hbs">Johannes Friebe</a></td>
                    <td>Oulu</td>
                    <td>gjtun2291qwe</td>
                </table> 
            </div>    
        <script src="doctorSearchApp.js"></script>
    </body>
</html>