
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
<div class="container">
		<a class="navbar-brand js-scroll-trigger block-white" href="#page-top"><img class="ifmg-fluid" src="assets/img/logo_base_sm.png" alt=""></a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
						<li class="nav-item">
								<a class="nav-link js-scroll-trigger" href="#about">About</a>
						</li>
						<li class="nav-item">
								<a class="nav-link js-scroll-trigger" href="#services">Services</a>
						</li>
						<li class="nav-item">
								<a class="nav-link js-scroll-trigger" href="#team">Team</a>
						</li>
						<li class="nav-item">
								<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
						</li>
						<li class="nav-item">
								<a class="btn btn-primary btn-sm js-scroll-trigger" href="http://localhost:3000/auth/github" role="button">Login</a>
						</li>
				</ul>
		</div>
</div>
</nav>

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
      <div class="row">
          <div class="col-lg-12 mx-auto">
              <hr class="my-4">
              <h1 class="text-uppercase">
                  <strong>Your eye care data all in one place</strong>
              </h1>
              <hr>
          </div>
          <div class="col-lg-8 mx-auto">
              <p class="mb-5 text-sub">Secure, accessible from anywhere and full access control.</p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" [routerLink]="['/Patient']">I am a patient</a>
              <a class="btn btn-primary btn-xl js-scroll-trigger" [routerLink]="['/Doctor']">I am a doctor</a>
          </div>
      </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">We keep your eyes bright!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">The best way to store medical records about your eyes! For you, for your doctor and for research!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
      </div>
  </div>
</section>

<section id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">At Your Service</h2>
              <hr class="my-4">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                  <h3 class="mb-3">Secure and persistent</h3>
                  <p class="text-muted mb-0">Through blockchain technology.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                  <h3 class="mb-3">Accessible anywhere</h3>
                  <p class="text-muted mb-0">You will always have your data with you and accessible in emergency!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
                  <h3 class="mb-3">Blockchain</h3>
                  <p class="text-muted mb-0">A private blockchain that let's you own your data.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                  <h3 class="mb-3">Research</h3>
                  <p class="text-muted mb-0">Help medical research by making your anonymized data accessible!</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
      <div class="row no-gutters">
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box"  href="mockup/doctorPatientView.html">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="" onclick="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Patient
                          </div>
                          <div class="project-name">
                              Patients own their health data again.
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box"  href="mockup/doctorPatientSearch.html">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="" onclick="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Doctor
                          </div>
                          <div class="project-name">
                              Doctors can quickly see their patients' history.
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box"  href="mockup/researchView.html">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="" onclick="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Research
                          </div>
                          <div class="project-name">
                              Boost research, by giving access to anonymized data.
                          </div>
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>

<section id="team">
  <div class="container">
      <div class="row no-gutters">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Our Team</h2>
              <hr class="my-4">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <img src="assets/img/team/moritz.jpg">
                  <h6></h6>
                  <h4>Moritz Meister</h4>
                      <p class="text-muted mb-0">Data Scientist</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <img src="assets/img/team/shambhavi.png">
                  <h6></h6>
                  <h4>Shambhavi Singh</h4>
                      <p class="text-muted mb-0">Data Scientist</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <img src="assets/img/team/gioele.png">
                  <h6></h6>
                  <h4>Gioele Bigini</h4>
                      <p class="text-muted mb-0">Data Scientist</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-2 col-md-1 text-center">

          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <img src="assets/img/team/nico.png">
                  <h6></h6>
                  <h4>Nicolae Righeriu</h4>
                      <p class="text-muted mb-0">Data Scientist</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <img src="assets/img/team/serghei.png">
                  <h6></h6>
                  <h4>Serghei Bordea</h4>
                      <p class="text-muted mb-0">Data Scientist</p>
              </div>
          </div>
          <div class="col-lg-2 col-md-1 text-center">

          </div>
      </div>
  </div>
</section>


<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading">Let's Get In Touch!</h2>
              <hr class="my-4">
              <p class="mb-5">Ready to start your next project with us? That's great! Send us an email and we will get back to you as soon as possible!</p>
          </div>
      </div>
      <div class="row">

          <div class="col-lg-8 mx-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
              <p>
                  <a href="mailto:your-email@your-domain.com">brighteyed@mailbox.org</a>
              </p>
          </div>
      </div>
  </div>
</section>
